@font-face {
	font-family: 'Formular';
	src: url('../fonts/Formular-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Formular';
	src: url('../fonts/Formular-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Formular';
	src: url('../fonts/Formular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Formular';
	src: url('../fonts/Formular-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}
